<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		{% block link %}{% endblock %}
	</head>
	<body>
	{% for message in app.flashes('errors') %}
			<div class="alert alert-danger">{{ message}}</div>
	{% endfor %}

	{% for message in app.flashes('success') %}
		<div class="alert alert-success">{{ message }}</div>
	{% endfor %}

	{% block body %}{% endblock %}
	{% block javascripts %}{% endblock %}
</body></html>
