

.body{
    display: grid;
    justify-content: center;
}

.body__content{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    padding: 20px;
}

.body__username{
    padding: 20px;
}
.body__username input{
    width: 300px;
    height: 40px;
    background: #FFFFFF;
    border: none;
    border-radius: 1px;
    padding-left: 20px;
    /* color: rgba(0, 0, 0, 0.5); */
}

.body__lastname{
    padding: 20px;
}
.body__lastname input{
    width: 300px;
    height: 40px;
    background: #FFFFFF;
    border: none;
    border-radius: 1px;
    padding-left: 20px;
    /* color: rgba(0, 0, 0, 0.5); */
}

.body__address{
    padding: 20px;
}
.body__address input{
    width: 300px;
    height: 40px;
    background: #FFFFFF;
    border: none;
    border-radius: 1px;
    padding-left: 20px;
    /* color: rgba(0, 0, 0, 0.5); */
}

.body__button{
    display: flex;
    justify-content: center;
    padding: 20px;
}
.styled2 {
    /* border: 0; */
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    color: #2CCE80;
    border-radius: 1px;
    background-color: #ffffff;
    border: black 10px;
    
    /* background-image: linear-gradient(to top left,
                                      rgba(0, 0, 0, .2),
                                      rgba(0, 0, 0, .2) 30%,
                                      rgba(0, 0, 0, 0)); */
}

.styled2:hover {
    background-color: #2CCE80;
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, 0.6),
    inset 2px 2px 3px rgba(255, 255, 255, 0.6);
    color: white;
}

.styled2:active {
    box-shadow: inset -2px -2px 3px rgba(0, 0, 0, .6),
                inset 2px 2px 3px rgba(0, 0, 0, .6);
}