

.body{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    /* padding: 20px; */
}

.body__container{
    display: grid;
    justify-content: center;
    padding: 20px 20px 40px 20px;
}

.body__content{
    display: grid;
    justify-content: center;
}

.body__img{
    display: flex;
    justify-content: center;
}
.body__title{
    display: flex;
    justify-content: center;
}
.body__title h1{
    font-weight: bold;
    font-size: 1.2em;
}

.body__button{
    padding: 20px;
}
.styled2 {
    /* border: 0; */
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    color: #2CCE80;
    border-radius: 1px;
    background-color: #ffffff;
    border: black 10px;
    
    /* background-image: linear-gradient(to top left,
                                      rgba(0, 0, 0, .2),
                                      rgba(0, 0, 0, .2) 30%,
                                      rgba(0, 0, 0, 0)); */
}

.styled2:hover {
    background-color: #2CCE80;
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, 0.6),
    inset 2px 2px 3px rgba(255, 255, 255, 0.6);
    color: white;
}

.styled2:active {
    box-shadow: inset -2px -2px 3px rgba(0, 0, 0, .6),
                inset 2px 2px 3px rgba(0, 0, 0, .6);
}